/* Header (fix alignment of nav) */
.headercontainer {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  padding: 5px;
  border-bottom: 1px solid black;
}

.headercontainer .divnav {
  display: flex;
  align-items: center;
}

 #logo {
  color: mediumaquamarine;
  display: flex;
  padding-left: 5px;
  align-items: center;
  border: 1px solid black;
}

.navspan {
  padding: 15px;
  display:inline-block;
}

a {
  color: black;
}
/*Content*/
.container{
  display: flex;
}
.column {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}
.column.large {
  width: 630px;
}
.column.medium {
  width: 300px;
}
.column.small {
  width: 240px;
}
.story {
  border: 1px solid black;
}
